*{
margin:0px;
padding:0px;
}
body
{
background:#F8F8F8;
font-family:Arial;
font-size:15px;
}


header
{
background:	#333;

}
header .top
{

margin:0px auto;
}


.top a:hover{
color:#E8E8E8;
}
.top ul
{
list-style-type: none;
margin-left:50px;
    overflow: hidden;
    background-color: #333;
}

.top ul li a {
    display: block;
    color: white;
    text-align: center;
 padding: 12px 14px;
    text-decoration: none;
	float:right;
}
section
{
	padding:6px;
	
}
section .center{
	
	border:1px solid #ccc;
	border-radius:4px;
	background:white;
	padding:20px;
	text-align:center;
	width:500px;
	margin:100px auto;
	font-size:11px;
}
.button
{

	 background-color: #333;
    border-radius:14px;
    color: white;
    padding: 13px 34px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
 
    cursor: pointer;
}
button:hover{
	color:#E8E8E8;
}
.tablecls
{
	padding:14px 2px;
}
table,td,th{
	 border: 0.2px solid black;
    padding: 5px;
	border-collapse:none;
font-size:17px;

	}
th{
	background:#333;
	color:white;
}
tr:nth-child(even)
{
	background-color: #f2f2f2;
	}

footer
{
	 padding: 16px;
	font-size:15px;
	background:#333;
	
}
footer .bottom
{
color:white;
}
.navbar .holder ul{
	list-style:none;
	margin:0px;
	padding:0px;
}
.navbar .holder ul li a
{
	text-decoration:none;
	float:left;
	margin-right:8px;
	font-family:Arial;
	color:white;
	border:2px solid #333;
	border-radius:10px;
    border-bottom:none;
	padding:16px;
	padding-right:40px;
	width:75px;
	text-align:center;
	display:block;
	background:#333;
	font-size:17px;
	}
.navbar .holder ul li a:hover{
	color:#E8E8E8;
}
.navbar .holder ul li a.onclick
{
	background:#F8F8F8;
	color:#333;
	border-bottom:1px solid #F8F8F8;
	font-weight:bold;
}
.navbar .holder ul li a.onclick:hover{
	color:black;
	
}
.navbar .holder
{
	height:52px;
	border-bottom:1px solid #333;
	width:850px;
	padding-left:25px;
}
.navbar{
width:850px;
	padding-top:10px;
}
