*{
margin:0px;
padding:0px;
}
body
{
background:white;
font-family:Arial;
font-size:15px;
}


header
{
background:	#333;

}
header .top
{

margin:0px auto;
}


a:hover{
color:#E8E8E8;
}
ul
{
list-style-type: none;
margin-left:50px;
    overflow: hidden;
    background-color: #333;
}

li a {
    display: block;
    color: white;
    text-align: center;
 padding: 12px 14px;
    text-decoration: none;
	float:right;
}
.btn-login
{
	width:150px;
	 cursor: pointer;
background:#333;
color:white;
border:none;
padding:8px;
}



section
{
	padding:81px;
	background:#F8F8F8;
}
section .center
{
	border:1px solid #ccc;
	border-radius:4px;
	background:white;
	padding:20px;
	text-align:center;
	width:500px;
	margin:100px auto;
	font-size:11px;
}
p{
	margin:2px 0;
}
input
{
	display:block;
	width:200px;
	margin:10px auto;
	padding:5px;
	text-align:center;
}
section h3{
	font-size:18px;
	font-weight:lighter;
}
footer
{
	 padding: 1em;
	font-size:15px;
	background:#333;
	
}
footer .bottom
{
color:white;
}
